img
{
	height: 180px;

}
.col-md-4:hover
      {
        background-color: #bddaea;
        transition-duration: 0.5s;
        transform: scale(1.1); 
        border-radius: 16px;
        box-shadow: 0 10px 6px -6px black;

      }
h2
{
	text-align: center;
	color: #145d88;
	font-weight: bold;
}
.list-group-item
{
	height: 45px;
}


