label
{
  font-size: 17px;
}
small
{
  font-size: 14px;
}
form
{
  border-radius: 5px;
}
img {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  border-radius: 25px;
  width: 100px;
}
.imgcontainer
{
  text-align: center;
}